name: Build Pure-Data externals

on: [push, pull_request]

env:
  PD_VERSION: 0.51-4

jobs:
      
  build_ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Clone Pure-Data
      run: git clone --branch=${PD_VERSION} --depth=1 https://github.com/pure-data/pure-data.git
    
    - name: Install Dependencies
      run: |
        sudo apt-get install -yqq ninja-build cmake
    
    - name: Build
      run: |
        cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release
        cmake --build build
        cmake --build build --target install

    - name: Archive Package
      uses: actions/upload-artifact@v2
      with:
        name: pmpd
        path: build/package/pmpd
    
  build_macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Clone Pure-Data
      run: git clone --branch=${PD_VERSION} --depth=1 https://github.com/pure-data/pure-data.git

    - name: Install Dependencies
      run: |
        brew install ninja cmake

    - name: Build
      run: |
        cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release
        cmake --build build
        cmake --build build --target install  
   
    - name: Archive Package
      uses: actions/upload-artifact@v2
      with:
        name: pmpd
        path: build/package/pmpd

  build_windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Download Pure-Data Binaries
      run: |
        Invoke-WebRequest -Uri "http://msp.ucsd.edu/Software/pd-${env:PD_VERSION}-i386.msw.zip" -OutFile "pd-${env:PD_VERSION}-i386.msw.zip"
        Expand-Archive -Path "pd-${env:PD_VERSION}-i386.msw.zip" -DestinationPath .

    - name: Build
      run: |
        cmake -S . -B build -DPUREDATA_INCLUDE_DIRS="pd-${env:PD_VERSION}-i386/src" -DPUREDATA_LIB="pd-${env:PD_VERSION}-i386/bin/pd.lib" -G "Visual Studio 16 2019" -A Win32
        cmake --build build --config Release
        cmake --build build --config Release --target install

    - name: Archive Package
      uses: actions/upload-artifact@v2
      with:
        name: pmpd
        path: build/package/pmpd

  build_windows_x64:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Download Pure-Data Binaries
      run: |
        Invoke-WebRequest -Uri "http://msp.ucsd.edu/Software/pd-${env:PD_VERSION}.msw.zip" -OutFile "pd-${env:PD_VERSION}.msw.zip"
        Expand-Archive -Path "pd-${env:PD_VERSION}.msw.zip" -DestinationPath .

    - name: Build
      run: |
        cmake -S . -B build -DPUREDATA_INCLUDE_DIRS="pd-${env:PD_VERSION}/src" -DPUREDATA_LIB="pd-${env:PD_VERSION}/bin/pd.lib" -G "Visual Studio 16 2019" -A x64
        cmake --build build --config Release
        cmake --build build --config Release --target install

    - name: Archive Package
      uses: actions/upload-artifact@v2
      with:
        name: pmpd
        path: build/package/pmpd

  build-rpi:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Clone Pure-Data
      run: git clone --branch=${PD_VERSION} --depth=1 https://github.com/pure-data/pure-data.git

    - name: Install Sysroot and Cross Build Dependencies
      run: |
        sudo apt-get update -yqq 
        sudo apt-get upgrade -yqq
        sudo apt-get install -yqq build-essential g++ ninja-build wget

        wget -nv https://www.dropbox.com/s/lwchd3va49sd43p/gcc-8.2.0-rpi.tar.bz2
        tar xf gcc-8.2.0-rpi.tar.bz2
        sudo mv cross-pi-gcc-8.2.0/ /opt/
        sudo ln -s /opt/cross-pi-gcc-8.2.0 /opt/cross-pi-gcc

        sudo ln -s /usr/include/arm-linux-gnueabihf/sys /usr/include/sys
        sudo ln -s /usr/include/arm-linux-gnueabihf/bits /usr/include/bits
        sudo ln -s /usr/include/arm-linux-gnueabihf/gnu /usr/include/gnu
        sudo ln -s /usr/include/arm-linux-gnueabihf/asm /usr/include/asm
        sudo ln -s /usr/lib/arm-linux-gnueabihf/crti.o /usr/lib/crti.o
        sudo ln -s /usr/lib/arm-linux-gnueabihf/crt1.o /usr/lib/crt1.o
        sudo ln -s /usr/lib/arm-linux-gnueabihf/crtn.o /usr/lib/crtn.o
    - name: Build
      run: |
        export CTEST_OUTPUT_ON_FAILURE=1
        export RPI_ROOT_PATH=/opt/cross-pi-gcc-8.2.0
        export PKG_CONFIG_SYSROOT_DIR=$RPI_ROOT_PATH
        export PKG_CONFIG_LIBDIR=${RPI_ROOT_PATH}/usr/lib/pkgconfig:${RPI_ROOT_PATH}/usr/share/pkgconfig:${RPI_ROOT_PATH}/usr/lib/arm-linux-gnueabihf/pkgconfig/
        export PATH=/opt/cross-pi-gcc/bin:${PATH}
        export LD_LIBRARY_PATH=/opt/cross-pi-gcc/lib:${LD_LIBRARY_PATH}

        cmake -B build -S ${GITHUB_WORKSPACE} \
            -DCMAKE_C_FLAGS="-marm" \
            -DCMAKE_TOOLCHAIN_FILE="${GITHUB_WORKSPACE}/arm-linux-gnueabihf.cmake" \
            -DCMAKE_BUILD_TYPE=Release \
            -GNinja
        cmake --build build
        cmake --build build --target install

    - name: Archive Package
      uses: actions/upload-artifact@v2
      with:
        name: pmpd
        path: build/package/pmpd

  package_release:
    runs-on: ubuntu-latest
    needs: [ build_ubuntu, build_macos, build_windows, build_windows_x64, build-rpi ]
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: pmpd
          path: pmpd
      - name: Rezip
        shell: bash
        run: |
          ls
          SHORT=${GITHUB_REF:11} # remove the 'refs/tags/' prefix
          SLUG=${SHORT//\//_} # replace '/' with '_'
          zip -r pmpd-${SLUG}.zip pmpd
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: pmpd*.zip

  upload_to_deken:
    runs-on: ubuntu-latest
    needs: [ build_ubuntu, build_macos, build_windows, build_windows_x64, build-rpi ]
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    steps:
      - uses: actions/checkout@v2
        with:
          path: pmpd-src
      - uses: actions/download-artifact@v2
        with:
          name: pmpd
          path: pmpd
      - name: Create Deken Package
        shell: bash
        env:
          DEKEN_USERNAME: ${{ secrets.DEKEN_USERNAME }}
          DEKEN_PASSWORD: ${{ secrets.DEKEN_PASSWORD }}
        run: |
          SHORT=${GITHUB_REF:11} # remove the 'refs/tags/' prefix
          SLUG=${SHORT//\//_} # replace '/' with '_'
          docker run --rm -e DEKEN_USERNAME -e DEKEN_PASSWORD --volume ${PWD}/pmpd-src:/pmpd registry.git.iem.at/pd/deken deken upload -v "${SLUG}" /pmpd
          docker run --rm -e DEKEN_USERNAME -e DEKEN_PASSWORD --volume ${PWD}/pmpd:/pmpd     registry.git.iem.at/pd/deken deken upload --no-source-error -v "${SLUG}" /pmpd